body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #fff;
}

 
.header .title-bar {
  background: linear-gradient(to right, #d500f9, #00e676);
  padding: 20px;
  text-align: center;
}

.header h1 {
  font-size: 20px;
  color: darkblue;
}

.highlight {
  color: #f50057;
  font-weight: bold;
}
 
.quote {
  text-align: center;
  padding: 10px;
  font-style: italic;
  font-weight: bold;
}

 
.banner {
  position: relative;
  text-align: center;
  padding: 30px;
}
.image {
    width: 100%;
    height: 20px;
}

.banner img {
  width: 100%;
  height: auto;
}

.buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 15px;
}

.buttons a {
  padding: 10px 20px;
  background-color: white;
  border: 2px solid orange;
  color: orange;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s;
}

.buttons a:hover {
  background-color: orange;
  color: white;
}

 
.page {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background: #b3e5fc;
  border-radius: 10px;
}

.page h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.page h3 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.card {
  background: #e0f7fa;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

.card h4 {
  margin-bottom: 10px;
  color: #00796b;
}

.back-button {
  display: block;
  width: fit-content;
  margin: 20px auto 0;
  padding: 10px 15px;
  background: orange;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}
